# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Calculate the totals, averages, and percentages in the DataFrame
total_schools = len(school_data_complete["school_name"].unique())
total_students = school_data_complete["student_name"].count()
total_budget = school_data["budget"].sum()
avg_math_score = round(school_data_complete["math_score"].mean(),2)
avg_reading_score = round(school_data_complete["reading_score"].mean(), 2)
only_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
only_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
percent_math = round((len(only_passing_math) / total_students) * 100, 2)
percent_reading = round((len(only_passing_reading) / total_students) * 100, 2)
overall_passing = round((avg_math_score + avg_reading_score) / 2, 2)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [24]:
# Create the District Summary DataFrame
summary_table = pd.DataFrame({"Total Schools": total_schools,
                              "Total Students": [total_students],
                              "Total Budget": [total_budget],
                              "Average Math Score": [avg_math_score],
                              "Average Reading Score": [avg_reading_score],
                              "% Passing Math": [percent_math],
                              "% Passing Reading": [percent_reading],
                              "% Overall Passing Rate": [overall_passing]})
summary_table

AttributeError: 'list' object has no attribute 'map'

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [4]:
# Group the complete dataset by school
groupby_schools = school_data_complete.groupby(["school_name"])

In [5]:
# Calculate all the values for each column
top_school_type = school_data.set_index(["school_name"])["type"]
top_total_students = groupby_schools["student_name"].count()
top_total_budget = groupby_schools["budget"].sum()
top_total_students = groupby_schools["student_name"].count()
top_total_budget = groupby_schools["budget"].mean()
per_student_budget = groupby_schools["budget"].mean() / groupby_schools["size"].count()
top_avg_math_score = round(groupby_schools["math_score"].mean(), 2)
top_avg_reading_score = round(groupby_schools["reading_score"].mean(), 2)
top_only_passing_math_count = only_passing_math["school_name"].value_counts()
top_only_passing_reading_count = only_passing_reading["school_name"].value_counts()
top_percent_math = round((top_only_passing_math_count / top_total_students) * 100, 2)
top_percent_reading = round((top_only_passing_reading_count / top_total_students) * 100, 2)
top_overall_passing = round((top_percent_math + top_percent_reading) / 2, 2)

In [6]:
top_school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [7]:
# School Summary table created into DataFrame
school_summary_table = pd.DataFrame({"School Type": top_school_type,
                                  "Total Students": top_total_students,
                                  "Total School Budget": top_total_budget,
                                  "Per Student Budget": per_student_budget,
                                  "Average Math Score": top_avg_math_score,
                                  "Average Reading Score": top_avg_reading_score,
                                  "% Passing Math": top_percent_math,
                                  "% Passing Reading": top_percent_reading,
                                  "% Overall Passing Rate": top_overall_passing})
school_summary_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,74.31
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.58
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,73.81
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,95.26
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75,80.86,73.81
Holden High School,Charter,427,248087,581.0,83.80,83.81,92.51,96.25,94.38
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,73.50
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,73.64
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,95.27
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,73.30
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.87,95.85,94.86
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,95.29
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,95.21
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,93.33,96.61,94.97

In [25]:
# # Merge all the summary data together
school_data_merged = pd.merge(school_data_complete, school_summary_table, how="left", on=["% Overall Passing Rate", "% Overall Passing Rate"])
school_data_merged.head()

KeyError: '% Overall Passing Rate'

## Top 5 Performing Schools (By Passing Rate)

In [9]:
top5_summary_table = school_summary_table.sort_values("% Overall Passing Rate", ascending=False)
top5_summary_table = top5_summary_table.head(5)
top5_summary_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.58
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,95.29
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,95.27
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,95.26
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,95.21

## Bottom 5 Performing Schools (By Passing Rate)

In [10]:
bottom5_summary_table = school_summary_table.sort_values("% Overall Passing Rate", ascending=True)
bottom5_summary_table = bottom5_summary_table.head(5)
bottom5_summary_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,73.30
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,73.50
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,73.64
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,73.81

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [11]:
math_score_9th = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby("school_name", as_index=False)
math_score_10th = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby("school_name", as_index=False)
math_score_11th = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby("school_name", as_index=False)
math_score_12th = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby("school_name", as_index=False)

In [12]:
math_avg_9th = round(pd.DataFrame(math_score_9th["math_score"].mean()), 2)
math_avg_10th = round(pd.DataFrame(math_score_10th["math_score"].mean()), 2)
math_avg_11th = round(pd.DataFrame(math_score_11th["math_score"].mean()), 2)
math_avg_12th = round(pd.DataFrame(math_score_12th["math_score"].mean()), 2)

In [13]:
# Merge all the data together
math_avg_by_grade = pd.merge(math_avg_9th, math_avg_10th, on="school_name")
math_avg_by_grade = pd.merge(math_avg_by_grade, math_avg_11th, on="school_name")
math_avg_by_grade = pd.merge(math_avg_by_grade, math_avg_12th, on="school_name")
math_avg_by_grade.columns = ["School Name","9th Grade","10th Grade","11th Grade","12th Grade"]
math_avg_by_grade

              School Name  9th Grade  10th Grade  11th Grade  12th Grade
0      Bailey High School      77.08       77.00       77.52       76.49
1     Cabrera High School      83.09       83.15       82.77       83.28
2    Figueroa High School      76.40       76.54       76.88       77.15
3        Ford High School      77.36       77.67       76.92       76.18
4     Griffin High School      82.04       84.23       83.84       83.36
5   Hernandez High School      77.44       77.34       77.14       77.19
6      Holden High School      83.79       83.43       85.00       82.86
7       Huang High School      77.03       75.91       76.45       77.23
8     Johnson High School      77.19       76.69       77.49       76.86
9        Pena High School      83.63       83.37       84.33       84.12
10  Rodriguez High School      76.86       76.61       76.40       77.69
11    Shelton High School      83.42       82.92       83.38       83.78
12     Thomas High School      83.59       83.09       83.50       83.50
13     Wilson High School      83.09       83.72       83.20       83.04
14     Wright High School      83.26       84.01       83.84       83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [14]:
reading_score_9th = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby("school_name", as_index=False)
reading_score_10th = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby("school_name", as_index=False)
reading_score_11th = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby("school_name", as_index=False)
reading_score_12th = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby("school_name", as_index=False)

In [15]:
reading_avg_9th = round(pd.DataFrame(reading_score_9th["math_score"].mean()), 2)
reading_avg_10th = round(pd.DataFrame(reading_score_10th["math_score"].mean()), 2)
reading_avg_11th = round(pd.DataFrame(reading_score_11th["math_score"].mean()), 2)
reading_avg_12th = round(pd.DataFrame(reading_score_12th["math_score"].mean()), 2)

In [16]:
# Merge all the data together
reading_avg_by_grade = pd.merge(reading_avg_9th, reading_avg_10th, on="school_name")
reading_avg_by_grade = pd.merge(reading_avg_by_grade, reading_avg_11th, on="school_name")
reading_avg_by_grade = pd.merge(reading_avg_by_grade, reading_avg_12th, on="school_name")
reading_avg_by_grade.columns = ["School Name","9th Grade","10th Grade","11th Grade","12th Grade"]
reading_avg_by_grade

              School Name  9th Grade  10th Grade  11th Grade  12th Grade
0      Bailey High School      77.08       77.00       77.52       76.49
1     Cabrera High School      83.09       83.15       82.77       83.28
2    Figueroa High School      76.40       76.54       76.88       77.15
3        Ford High School      77.36       77.67       76.92       76.18
4     Griffin High School      82.04       84.23       83.84       83.36
5   Hernandez High School      77.44       77.34       77.14       77.19
6      Holden High School      83.79       83.43       85.00       82.86
7       Huang High School      77.03       75.91       76.45       77.23
8     Johnson High School      77.19       76.69       77.49       76.86
9        Pena High School      83.63       83.37       84.33       84.12
10  Rodriguez High School      76.86       76.61       76.40       77.69
11    Shelton High School      83.42       82.92       83.38       83.78
12     Thomas High School      83.59       83.09       83.50       83.50
13     Wilson High School      83.09       83.72       83.20       83.04
14     Wright High School      83.26       84.01       83.84       83.64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
binlabels = ["<$585", "$585-615", "$615-645", "$645-675"]

In [18]:
# top_summary_table = top_summary_table.reset_index(drop=True)
school_summary_table["Spending Ranges"] = pd.cut(school_summary_table["Per Student Budget"], spending_bins, labels=binlabels)
school_summary_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,74.31,$615-645
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.58,<$585
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36,$615-645
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,73.81,$615-645
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,95.26,$615-645
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75,80.86,73.81,$645-675
Holden High School,Charter,427,248087,581.0,83.80,83.81,92.51,96.25,94.38,<$585
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,73.50,$645-675
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,73.64,$645-675
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,95.27,$585-615
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,73.30,$615-645
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.87,95.85,94.86,$585-615
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,95.29,$615-645
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,95.21,<$585
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,93.33,96.61,94.97,<$585

In [19]:
# Creating a group based off of the bins             
budget_ranges = school_summary_table[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate", "Spending Ranges"]]
budget_ranges = round(budget_ranges.groupby(["Spending Ranges"]).mean(), 2)
budget_ranges

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges,,,,,
<$585,83.45,83.94,93.46,96.61,95.04
$585-615,83.60,83.88,94.23,95.90,95.06
$615-645,79.08,81.89,75.67,86.11,80.89
$645-675,77.00,81.03,66.16,81.13,73.65

## Scores by School Size

* Perform the same operations as above, based on school size.

In [20]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
size_bin_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [21]:
school_summary_table["School Size"] = pd.cut(school_summary_table["Total Students"], size_bins, labels=size_bin_labels)
school_summary_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges,School Size
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,74.31,$615-645,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.58,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36,$615-645,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,73.81,$615-645,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,95.26,$615-645,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75,80.86,73.81,$645-675,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.80,83.81,92.51,96.25,94.38,<$585,Small (<1000)
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,73.50,$645-675,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,73.64,$645-675,Large (2000-5000)
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,95.27,$585-615,Small (<1000)
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,73.30,$615-645,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.87,95.85,94.86,$585-615,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,95.29,$615-645,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,95.21,<$585,Large (2000-5000)
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,93.33,96.61,94.97,<$585,Medium (1000-2000)

In [22]:
# Creating a group based off of the bins
size_ranges = school_summary_table[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate", "School Size"]]
size_ranges = round(size_ranges.groupby(["School Size"]).mean(), 2)
size_ranges

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.82,83.93,93.55,96.10,94.82
Medium (1000-2000),83.37,83.87,93.60,96.79,95.19
Large (2000-5000),77.74,81.34,69.96,82.77,76.37

## Scores by School Type

* Perform the same operations as above, based on school type.

In [23]:
# school_summary_table = school_summary_table.reset_index()
school_summary_table_by_type = school_summary_table[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]
school_summary_table_by_type = round(school_summary_table.groupby(["School Type"]).mean(), 2)
del school_summary_table_by_type['Total Students']
del school_summary_table_by_type['Total School Budget']
del school_summary_table_by_type['Per Student Budget']
school_summary_table_by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,95.10
District,76.96,80.97,66.55,80.80,73.68